*{
    align-items: center;
    padding: 0 10px;
    
}
body{
    background-color: black;
    text-align: center;
}
zero{
    padding-left: 0;
}
h1{
    padding-top: 10%;
    color: aliceblue;
}
p{
    
    color: aliceblue;
}
img{
    width: 500px;
    color: aliceblue;
}